.hero {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
}

.hero .hero-text h1 {
  display: block;
  font-size: 6rem;
  line-height: 5.5rem;
  color: aliceblue;
}

.hero-text {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url("../assets/IMG20240211172532.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
  text-align: center;
  border-radius: 1rem;
  width: 100%;
}

@media (min-width: 320px) {
  .hero .hero-text h1 {
    font-size: 3rem;
  }
}
